AURA_IDP_LISTEN=:{{ aura_idp_port }}
AURA_IDP_ISSUER_URL={{ aura_idp_issuer_url }}
AURA_ZK_DIR={{ aura_zk_dir }}
AURA_DEMO_CLIENT_ID={{ aura_demo_client_id }}
AURA_DEMO_CLIENT_SECRET={{ aura_demo_client_secret }}
AURA_DEMO_REDIRECT_URI={{ aura_demo_redirect_uri }}
