db=postgres
db-url=jdbc:postgresql://127.0.0.1/{{ keycloak_db_name }}
db-username={{ keycloak_db_username }}
db-password={{ keycloak_db_password }}
hostname={{ keycloak_hostname }}
http-enabled=true
http-port=8080
health-enabled=true
